* {
  text-align: center;
  font-family: "SF Pro Display";
  font-weight: 300;
  color: #fafafa;
}

body {
  background: linear-gradient(
    90deg,
    #f78ca0 0%,
    #f9748f 20.31%,
    #fd868c 66.67%,
    #fe9a8b 100%
  );
}
